<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MongoDb">
      <connectionString>mongodb+srv://admin:x45JNZLhtrDXG2YD@ukrainiansunbeam.0ndwc.mongodb.net/myFirstDatabase?retryWrites=true&amp;w=majority</connectionString>
    </add>
  </connectionStrings>
</configuration>